.org-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    gap: 20px;
}
.title {
    color : #6278F7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
}
.org-section img {
    position: absolute;
    right: 30%;
    cursor: pointer;
    top:   20px;
}

@media (max-width: 1200px) {
    .org-section img {
        right: 3%;
    }
}

